.flag{
    width: 50rem;
    object-fit: cover;
    height: 50rem;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin: 0 auto;
}
.title{
    width: max-content;
}
.card{
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
